<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>ReactPhp</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../public/bootstrap-table.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<index>

</index>

<!-- Placed at the end of the document so the pages load faster -->

<script src="../public/bootstrap/js/bootstrap.js"></script>
<!--<script src="../public/autobahn/autobahn.min.js"></script>-->
<script src="../public/tmp.js"></script>
<script src="../public/bootstrap-table.min.js"></script>


<script>

    function randomData() {
        var startId = ~~(Math.random() * 100)
        var rows = []

        for (var i = 0; i < 10; i++) {
            rows.push({
                id: startId + i,
                ip: 'test' + (startId + i),
                user: '$' + (startId + i)
            })
        }
        console.log(rows)
        return rows
    }
    function drawAll (data,table){
        console.log(data)
        randomData()
        table.bootstrapTable('load',data)
            //[{"id": 33, ip: "test33", user: "$33"}]
        //table.bootstrapTable('load',randomData())
        //console.log(table)

    }

    function setNode(parent, chield) {

        $(parent).load("http://localhost/" + chield, function () {

               let table = $('#table')
              table.bootstrapTable()


                wm = new wsoket();
                wm.open();
                wm.onOpen = function () {
                    wm.subscribe('all', 'drawAll');
                    wm.publish('all');
                }

                wm.onSubscriber = function (data) {
                    drawAll(data,table);
                }




            }
        )
    }



    $(function() {

        setNode('index','main')

    })



</script>




</html>