<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href="#">ReactPhp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse " >
        <div class="navbar-nav fromJson">
            <li class="nav-item">
                <a class="nav-link"  href="vcbn" onclick="event.preventDefault(); menuLoad(data1)">User</a>
            </li>
        </div>
    </div>
</div>
</nav>



<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
    <div class="container">
        <h2>Приложение создано на ReactPhp</h2>
        <p>состоит из двух ассинхронных сереверjd</p>
        <ul>
            <li>первый сервер отдает статику, в том числе шаблоны страниц</li>
            <li>второй сервер осуществляет обмен данными с веб-страницей в реальном времени по веб-сокет</li>
        </ul>
        <p>для разворачивания приложение, на сервере нужно установить только php и mysql </p>

    </div>
</div>

<div class="container">

    <h3>Текущие соединения:</h3>

        <table class="table-striped"
                id="table"
                data-toggle="table"
                data-toolbar="#toolbar"
                data-height="460"
                >
            <thead>
            <tr>
                <th data-field="id">ID session</th>
                <th data-field="ip">user ip</th>
                <th data-field="user">user name</th>
            </tr>
            </thead>
        </table>


    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
</body>

<script>

    data ={
        "child_one": {
            "child_of_childOne": {
                "href": "",
                "onclick" : ""
            }
        },
        "child_two": {
            "child_of_childTwo": {
                "href": "",
                "onclick" : ""
            }
        },
        "child_three": {
            "child1_of_childThree": {
                "href": "",
                "onclick" : ""
            },
            "child2_of_childThree": {
                "attr4": {
                    "href": "",
                    "onclick" : ""
                }
            }
        }
    }
    $.fn.fromJson = function(data){
        function traverse(data) {
            var i;
            for (var k in data) {
                i = data[k];
                if (typeof i === 'string') {
                    console.log(i);
                } else if (typeof i === 'object') {
                    traverse(i);
                }
            }
        }

    }


    $('.from-json').fromJson(data);
</script>